<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="login-form">
    <p class="text-center" sec:authorize="hasAuthority('ADMIN')"><button id="load">Run Job</button></p>
    <p class="text-center"><a th:href="@{/logout}">Logout</a></p>
    <p class="text-center" id="jobStatus"></p>
</div>
</body>

<script>
    $(function () {
        $("#load").on("click", load);
    });

    function load() {
        $.get("/load/", function (data) {
            console.log(data);
            $("#jobStatus").text(data);
        }).fail(function() {
            alert( "Something went wrong!" );
        })
    }
</script>

</html>